<div [class.xx]="true">

    <div id="headerwrap">
<!--      <div class="container">-->
<!--        <div class="row centered"></div>-->

        <div class="row">
        <img src="../assets/1.jpg" alt="" class="img-responsive">

<!--        <h2>Bootstrap is awesome!</h2>-->
<!--        <h3>Сайт на Botstrap отличній</h3>-->
      </div>
<!--    </div>-->
  </div>

  <br><br><br><br>

  <div class="row text-center">

    <div class="col-lg-4">
      <i class="fa fa-heart"></i>
      <h4>Самсунг</h4>
      <p>Samsung — південнокорейська транснаціональна компанія-конгломерат, головний офіс якої розташований у Сеулі,
        Південна Корея. Вона складається з численних дочірніх і залежних підприємств, більшість з яких об'єднані під
        брендом Samsung. Компанія є найбільшим південнокорейським чеболем.Найбільш відомими дочірніми компаніями
        Samsung є Samsung Electronics</p>
    </div>
    <div class="col-lg-4">
      <i class="fab fa-apple"></i>
      <h4>Apple</h4>
      <p>Apple Inc. — американська технологічна компанія з офісом у Купертіно, яка проектує та розробляє побутову
        електроніку, програмне забезпечення та онлайн-сервіси. Є першою американською компанією, чия капіталізація
        перевершила 1 трлн доларів США</p>
    </div>
    <div class="col-lg-4">
      <i class="fa fa-heart"></i>
      <h4>Самсунг</h4>
      <p>Samsung — південнокорейська транснаціональна компанія-конгломерат, головний офіс якої розташований у Сеулі,
        Південна Корея. Вона складається з численних дочірніх і залежних підприємств, більшість з яких об'єднані під
        брендом Samsung. Компанія є найбільшим південнокорейським чеболем.Найбільш відомими дочірніми компаніями
        Samsung є Samsung Electronics</p>
    </div>
  </div>





  <div [class.x]="true">

  <div class="row centered">
    <div class="col">
      <h2>Новинки</h2>
    </div>
  </div>


  <div class="row text-center">


    <div class="col-sm-4">
      <div class="tilt">
        <a routerLink=""><img src="../assets/8.jpg" alt="" class="img-fluid"></a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="tilt">
      <a routerLink=""><img src="../assets/9jpg.jpg" alt="" class="img-fluid"></a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="tilt">
        <a routerLink=""><img src="../assets/5jpg.jpg" alt="" class="img-fluid"></a>
      </div>
    </div>
  </div>
</div>
</div>



<div class="centered">

  <br><br>
  <div class="row text-center">
    <div class="container">
    <div class="col">
    <h2>5G смартфоны</h2>
    <p>Компания Huawei объявила о намерении выпустить смартфон к концу 3-го квартала 2019 года с поддержкой 5G. В
      данной модели устранят ошибки, возникающие при массовых подключениях и низких задержках. Сеть 5G улучшит
      воспроизведение потокового видео и облегчит доступ к таким услугам, как виртуальная, расширенная и смешанная
      реальность. Также о намерении выпустить 5G телефон заявил китайский производитель смартфонов ZTE и Sony

      Технологии 5G должны обеспечивать более высокую пропускную способность по сравнению с технологиями 4G, что
      позволит обеспечить бо́льшую доступность широкополосной мобильной связи, а также использование режимов
      device-to-device[en] (букв. «устройство с устройством»), сверхнадёжные масштабные системы коммуникации между
      устройствами[2], а также более короткое время задержки, скорость интернета 1—2 Гбит/с, меньший расход энергии
      батарей, чем у 4G-оборудования, что благоприятно скажется на развитии Интернета вещей[3].
    </p>

    <p><br><br></p>
    </div>
    </div>
  </div>

  <img src="../assets/22.jpg" alt="" class="img-fluid">


  <div id="lg">
    <div class="container">

      <div class="row centered">
        <div class="col">
          <h2>Партнеры</h2>
        </div>
      </div>

      <br>
      <div class="row centered">

        <div class="col-sm-3">
          <i class="fab fa-apper  fa-5x"></i>
        </div>
        <div class="col-sm-2">
          <i class="fab fa-bootstrap fa-5x"></i>
        </div>
        <div class="col-sm-2">
          <i class="fab fa-apple fa-5x"></i>
        </div>
        <div class="col-sm-2">
          <i class="fab fa-android fa-5x"></i>
        </div>
        <div class="col-sm-3">
          <i class="fab fa-node fa-5x"></i>
        </div>
      </div>
    </div>
  </div>


</div>








