<div class="modal fade"
     id="exampleModal" tabindex="-1"
     role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div>
        <ul class="nav nav-tabs" role="tablist">
          <h4 class="modal-title" id="exampleModalLabel">
            <a class="nav-link " routerLink=" " data-toggle="modal"
               aria-controls="home" role="tab" data-target="#exampleModal">Логін</a>

          </h4>
          <h4 class="modal-title" id="exampleModalLabell">
            <a class="nav-link " routerLink="" data-toggle="modal" role="tab" aria-controls="home"
               data-target="#exampleModall">Регістрація</a>
          </h4>

          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </ul>


      </div>




      <div class="modal-body">
        <div class="container-fluid">

          <form>
            <div class="form-froup">
              <label for="exampleInputEmail">Електрона почта</label>
              <input type="email"
                     name="name"
                     class="form-control form-control-sm"
                     id="exampleInputEmail"
                     placeholder="Емаіл"
              >
              <small id="emailHelp" class="form-text text-muted">
                Введіть ваш імейл
              </small>
            </div>

            <div class="form-froup">
              <label for="exampleInputPass">Пароль</label>
              <input type="password"
                     class="form-control"
                     id="exampleInputPass"
                     placeholder=" Пароль"
              >
              <small id="passHelp" class="form-text text-muted">
                Пароль повинен мати не менше 4 символів
              </small>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input">Запам'ятати мене
              </label>
            </div>
            <div>
              <button type="submit" class="btn btn-primary">
                Отправить
              </button>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>





<!-- Modal регістрація -->
<div>
  <div class="modal fade"
       id="exampleModall" tabindex="-1"
       role="dialog" aria-labelledby="exampleMod"
       aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <ul class="nav nav-tabs" role="tablist">
          <h4 class="modal-title" id="exampleModalLabel">
            <a class="nav-link " routerLink=" " data-toggle="modal"
               aria-controls="home" role="tab" data-target="#exampleModal">Логін</a>

          </h4>
          <h4 class="modal-title" id="name">
            <a class="nav-link " routerLink="" data-toggle="modal" role="tab" aria-controls="home"
               data-target="#exampleModall">Регістрація</a>
          </h4>

          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </ul>
        <div class="modal-body">
          <div class="container-fluid">
            <form role="form">
              <div class="form-froup">
                <label for="exampleInputEmail"> Імя</label>
                <input type="email"
                       class="form-control form-control-sm"
                       id="name"
                       aria-describdby="emailHelp"
                       placeholder=" Імя"
                >
                <small id="emailHelp2" class="form-text text-muted">
                  Введіть вашt імя
                </small>
              </div>


              <div class="form-froup">
                <label for="exampleInputPass"> Номер телефону</label>
                <input type="password"
                       class="form-control form-control-sm"
                       id="number"
                       placeholder=" Номер"
                >
                <small id="numberHelp2" class="form-text text-muted">
                  Введіть ваш номер
                </small>
              </div>

              <div class="form-froup">
                <label for="exampleInputEmail"> Електрона почта</label>
                <input type="email"
                       class="form-control form-control-sm"
                       id="Emailreg"
                       aria-describdby="emailHelp"
                       placeholder="Емаіл"
                >
                <small id="emailHelp" class="form-text text-muted">
                  Введіть ваш імейл
                </small>
              </div>

              <div class="form-froup">
                <label for="exampleInputPass"> Пароль</label>
                <input type="password"
                       class="form-control form-control-sm"
                       id="Pass2"
                       placeholder=" Пароль"
                >
                <small id="passHelp2" class="form-text text-muted">
                  Пароль повинен мати не менше 4 символів
                </small>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input"> Запам'ятати мене
                </label>
              </div>
              <div>
                <button type="submit" class="btn btn-primary">
                  Зарегистрироваться
                </button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

