<!--<p class="text-xs-center">Войти для работи</p>-->

<!--<div [class.xxx]="true">-->
<!--  <h2>Реєстрація</h2>-->
<!--  <form #myform="ngForm" (ngSubmit)="sendForm()" >-->

<!--    &lt;!&ndash;onclick="myFunction()"&ndash;&gt;-->

<!--    <div class="form-group">-->
<!--      <label for="name" [ngStyle]="{color: !nameI.valid && nameI.touched ? 'red' : 'back' }">Імя</label><br>-->
<!--      <input-->
<!--        #nameI="ngModel"-->
<!--        type="text"-->
<!--        placeholder="name"-->
<!--        name="name"-->
<!--        id="name"-->
<!--        class="form-control"-->
<!--        [(ngModel)]="developer.name"-->
<!--      >-->
<!--    </div>-->


<!--    <br>-->



<!--    <label for="number" [ngStyle]="{color: !nameIi.valid && nameIi.touched ? 'red' : 'back'}">номер телефону</label><br>-->
<!--    <input-->
<!--      #nameIi="ngModel"-->
<!--      type="text"-->
<!--      placeholder="phone"-->
<!--      name="number"-->
<!--      required-->
<!--      [(ngModel)]="developer.number"-->
<!--      id="number"-->
<!--    >-->

<!--    <br>-->
<!--    <br>-->

<!--    <label for="email" [ngStyle]="{color: !nameIq.valid && nameIq.touched ? 'red' : 'back'}">ел.пошта</label><br>-->
<!--    <input-->
<!--      #nameIq="ngModel"-->
<!--      type="text"-->
<!--      placeholder="email"-->
<!--      name="email"-->
<!--      required-->
<!--      [(ngModel)]="developer.email"-->
<!--      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"-->
<!--      email-->
<!--      maxlength = "20"-->
<!--      minlength="4"-->
<!--      id="email"-->
<!--    >-->
<!--    <br>-->


<!--    <br>-->

<!--    <label for="password" [ngStyle]="{color: !nameIa.valid && nameIa.touched ? 'red' : 'back'}">пароль</label><br>-->
<!--    <input-->
<!--      #nameIa="ngModel"-->
<!--      type="password"-->
<!--      placeholder="password"-->
<!--      name="password"-->
<!--      required-->
<!--      [(ngModel)]="developer.password"-->
<!--      password-->
<!--      maxlength = "20"-->
<!--      minlength="4"-->
<!--      id="password"-->
<!--    >-->
<!--    <br>-->


<!--    &lt;!&ndash;<label for="confirmPassword" [ngStyle]="{color: !nameIa.valid && nameIa.touched ? 'red' : 'back'}">пароль ще раз</label><br>&ndash;&gt;-->
<!--    &lt;!&ndash;<input&ndash;&gt;-->
<!--    &lt;!&ndash;#nameua="ngModel"&ndash;&gt;-->
<!--    &lt;!&ndash;type="password"&ndash;&gt;-->
<!--    &lt;!&ndash;placeholder="password"&ndash;&gt;-->
<!--    &lt;!&ndash;name="password"&ndash;&gt;-->
<!--    &lt;!&ndash;required&ndash;&gt;-->
<!--    &lt;!&ndash;[(ngModel)]="developer.confirmPassword"&ndash;&gt;-->
<!--    &lt;!&ndash;password&ndash;&gt;-->
<!--    &lt;!&ndash;id="confirmPassword"&ndash;&gt;-->
<!--    &lt;!&ndash;minlength="4"&ndash;&gt;-->
<!--    &lt;!&ndash;&gt;&ndash;&gt;-->



<!--    <p>-->
<!--      <input-->

<!--        #nameIw="ngModel"-->
<!--        [class.aaa]="true"-->
<!--        type="checkbox"-->
<!--        name="submit"-->
<!--        [(ngModel)]="developer.submit"-->
<!--        minlength="4"-->
<!--        required-->
<!--      > <label [ngStyle]="{color: !nameIw.valid && nameIw.touched ? 'red' : 'back'}">-->
<!--      Заповнюючи цю форму ви погоджуєтеся з-->
<!--      <a href="" [ngStyle]="{color: !nameIw.valid && nameIw.touched ? 'red' : 'back'}">-->
<!--        Пользовательское соглашение-->
<!--      </a>-->
<!--    </label>-->
<!--    </p>-->
<!--    <br>-->

<!--    <button-->
<!--      type="submit"-->
<!--      [disabled]="!myform.valid"-->
<!--    >Зарегистрироваться-->
<!--    </button>-->
<!--    <br>-->
<!--    <br>-->

<!--  </form>-->
<!--  <button>Вхід</button>-->
<!--</div>-->
<h1>тест</h1>

<!--  <form [formGroup]="form" (ngSubmit)="onSubmit()">-->
<!--<label>Name: </label>-->
<!--  <input-->
<!--    type="text"-->
<!--    name="name"-->
<!--    [(ngModel)]="form.name"-->
<!--  >-->

<!--  <label>password: </label>-->
<!--  <input-->
<!--    type="password"-->
<!--    name="password"-->
<!--    [(ngModel)]="form.password"-->
<!--  >-->

<!--  <label>email: </label>-->
<!--  <input-->
<!--    type="text"-->
<!--&lt;!&ndash;    name="email"&ndash;&gt;-->
<!--    class='form-control underlined'-->
<!--&lt;!&ndash;    [(ngModel)]="form.email"&ndash;&gt;-->
<!--    formControlName="email"-->
<!--  >-->
<!--  <span class="form-help-text"-->
<!--  *ngIf="form.get('email').invalid && form.get('email').touched"-->
<!--  >-->
<!--    error-->
<!--  </span>-->

<!--  <label>number: </label>-->
<!--  <input-->
<!--    type="text"-->
<!--    name="number"-->
<!--    [(ngModel)]="form.number"-->
<!--  >-->

<!--  <button>Send</button>-->

<!--</form>-->
